blinker
branca
certifi
charset-normalizer
click
colorama
contourpy
cycler
Flask
folium
fonttools
gunicorn
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
requests
six
tzdata
urllib3==2.6.3
utm==0.8.1
Werkzeug==3.1.6
xyzservices==2025.11.0
